@font-face {
  font-family: 'Kelly Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Kelly Slab'), local('KellySlab-Regular'), url(https://fonts.gstatic.com/s/kellyslab/v7/-W_7XJX0Rz3cxUnJC5t6fkALew.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v20/neILzCirqoswsqX9zoamNg.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752HT8D.ttf) format('truetype');
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6D6Mw.ttf) format('truetype');
}
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher Regular'), local('Philosopher-Regular'), url(https://fonts.gstatic.com/s/philosopher/v9/vEFV2_5QCwIS4_Dhez5jcWBqT0g.ttf) format('truetype');
}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v5/UqyVK80NJXN4zfRgbdfbo5pcUg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufJ5qA.ttf) format('truetype');
}
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: local('Russo One'), local('RussoOne-Regular'), url(https://fonts.gstatic.com/s/russoone/v6/Z9XUDmZRWg6M1LvRYsHOy8mM.ttf) format('truetype');
}
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Zilla Slab'), local('ZillaSlab-Regular'), url(https://fonts.gstatic.com/s/zillaslab/v3/dFa6ZfeM_74wlPZtksIFajo6-A.ttf) format('truetype');
}
@keyframes IAnimateHome {
  0% {
    margin-top: 10px;
  }
  80% {
    margin-top: 10px;
  }
  90% {
    margin-top: 20px;
  }
  100% {
    margin-top: 10px;
  }
}
body #Home {
  position: relative;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
body #Home .Home {
  position: relative;
  margin: 15px;
  width: calc(100% - 30px);
  height: calc(100vh - 30px);
  line-height: calc(100vh - 30px);
  overflow: hidden;
}
body #Home .Home .Window {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
body #Home .Home .Window.Image {
  background: center no-repeat;
  background-size: cover;
  background-image: url("/IMAGE/Home/Home2.jpg");
}
body #Home .Home .Window.Image.Black {
  display: none;
  background-attachment: inherit;
  background-size: auto;
  background-repeat: repeat;
  background-image: url("/IMAGE/Home/4_2.png");
}
body #Home .Home .Window .Slider {
  max-height: 70%;
  height: 100%;
}
body #Home .Home .Window .Slider .Blocks {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  line-height: normal;
  overflow: hidden;
  border-radius: 15px;
}
body #Home .Home .Window .Slider .Blocks .Arrow {
  position: absolute;
  top: calc(50% - 25px);
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #0c5460;
  color: white;
  font-size: 30px;
  cursor: pointer;
  z-index: 100;
}
body #Home .Home .Window .Slider .Blocks .Arrow.Left {
  left: 5px;
  padding-right: 5px;
}
body #Home .Home .Window .Slider .Blocks .Arrow.Right {
  right: 5px;
  padding-left: 5px;
}
body #Home .Home .Window .Slider .Blocks .Block {
  position: absolute;
  left: 100%;
  top: 0;
  display: inline-block;
  float: left;
  height: 100%;
  width: 100%;
  background: center no-repeat #0c5460;
  background-size: cover;
  transition: .5s;
}
body #Home .Home .Window .Slider .Blocks .Block.Left {
  left: -100%;
  z-index: 50;
}
body #Home .Home .Window .Slider .Blocks .Block.Active {
  left: 0;
  z-index: 100;
}
body #Home .Home .Window .Slider .Blocks .Block.Right {
  left: 100%;
  z-index: 50;
}
body #Home .Home .Window .Slider .Blocks .Block .Text {
  padding: 10px 0;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
}
body #Home .Line {
  position: absolute;
  bottom: -60px;
  margin-left: -100px;
  left: auto;
  right: auto;
  display: inline-block;
  width: 200px;
  height: 60px;
  font-size: 30px;
  line-height: normal;
  background: center no-repeat;
  background-image: url("/IMAGE/Home/line.png");
}
body #Home .Line.Show {
  bottom: 5px;
}
body #Home .Line.Show i:first-child {
  animation: IAnimateHome 2s linear infinite;
}
body #Home .Line i {
  width: 100%;
}
body #Home .Line i:not(:first-child) {
  position: relative;
  top: -30px;
}
body #Comments {
  min-height: 50vh;
}
body .Title.Block#Banquet .Image {
  background-image: url("/IMAGE/fons/OH3C1P0.jpg");
}
body .Title.Block .Image {
  margin: 15px;
  width: calc(100% - 30px);
  height: calc(50vh - 30px);
  line-height: calc(50vh - 30px);
  background: center no-repeat #0c5460;
  background-size: cover;
  overflow: hidden;
}
body .Title.Block .Image .Name {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  padding-left: 10%;
  color: white;
  text-shadow: 0 0 10px black;
  font-family: 'Lobster', cursive;
  font-size: 10vh;
}
body #Banquet .BlockImages .Image {
  height: 150px;
}
body #Banquet .BlockImages .Image .Img {
  height: 120px;
  background-size: cover;
}
body #Banquet .BlockImages .Image .img1,
body #Banquet .BlockImages .Image .img3 {
  background-image: url("/IMAGE/Home/банкет.jpg");
}
body #Banquet .BlockImages .Image .img2,
body #Banquet .BlockImages .Image .img4 {
  background-image: url("/IMAGE/Home/зал.jpg");
}
body #Banquet .BlockText .Text {
  text-align: justify;
}
/*# sourceMappingURL=Home.css.map */