@import "../default";

@keyframes IAnimateHome {
  0% {
    margin-top: 10px;
  }
  80% {
    margin-top: 10px;
  }
  90% {
    margin-top: 20px;
  }
  100% {
    margin-top: 10px;
  }
}

body {
  #Home {
    position: relative;
    font-family: @font-RobotoSlab;
    text-align: center;

    .Home {
      position: relative;
      margin: 15px;
      width: calc(~"100% - 30px");
      height: calc(~"100vh - 30px");
      line-height: calc(~"100vh - 30px");
      overflow: hidden;

      .Window {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &.Image {
          background: center no-repeat fixed;
          background-size: cover;
          background-image: url("/IMAGE/Home/Home2.jpg");

          &.Black {
            display: none;
            background-attachment: inherit;
            background-size: auto;
            background-repeat: repeat;
            background-image: url("/IMAGE/Home/4_2.png");
          }
        }

        .Slider {
          max-height: 70%;
          height: 100%;

          .Block {
            background: center no-repeat;
            background-size: cover;
          }
          #HomeBlock_1 {
            background-image: url("/IMAGE/Home/nMYv3UoSKxc.jpg");
          }
          #HomeBlock_2 {
            background-image: url("/IMAGE/Home/jnK7N0v0R_w.jpg");
          }
          #HomeBlock_3 {
            background-image: url("/IMAGE/Home/FMZaP0OOhk4.jpg");
          }

          .Blocks {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            height: 100%;
            line-height: normal;
            overflow: hidden;
            border-radius: 15px;

            .Arrow {
              position: absolute;
              top: calc(~"50% - 25px");
              display: inline-block;
              width: 50px;
              height: 50px;
              line-height: 50px;
              border-radius: 50%;
              background-color: #0c5460;
              color: white;
              font-size: 30px;
              cursor: pointer;
              z-index: 100;

              &.Left {
                left: 5px;
                padding-right: 5px;
              }

              &.Right {
                right: 5px;
                padding-left: 5px;
              }
            }

            .Block {
              position: absolute;
              left: 100%;
              top: 0;
              display: inline-block;
              float: left;
              height: 100%;
              width: 100%;
              background: center no-repeat #0c5460;
              background-size: cover;
              transition: .5s;
              border-radius: 15px;
              overflow: hidden;

              &.Left {
                left: -100%;
                z-index: 50;
              }

              &.Active {
                left: 0;
                z-index: 100;
              }

              &.Right {
                left: 100%;
                z-index: 50;
              }

              .Text {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 5px 15px;
                width: 100%;
                height: auto;
                background-color: rgba(255, 255, 255, 0.5);
                text-align: left;
                font-size: 20px;
              }
            }
          }
        }
      }
    }

    .Line {
      position: absolute;
      bottom: -60px;
      margin-left: -100px;
      left: auto;
      right: auto;
      display: inline-block;
      width: 200px;
      height: 60px;
      font-size: 30px;
      line-height: normal;

      background: center no-repeat;
      background-image: url("/IMAGE/Home/line.png");

      &.Show {
        bottom: 5px;

        i:first-child {
          animation: IAnimateHome 2s linear infinite;
        }
      }

      i {
        width: 100%;

        &:not(:first-child) {
          position: relative;
          top: -30px;
        }
      }
    }
  }

  #Comments {
    min-height: 50vh;
  }

  .Title.Block {

    &#Banquet {
      .Image {
        background-image: url("/IMAGE/fons/OH3C1P0.jpg");
      }
    }

    &#Menu {
      .Image {
        background-image: url("/IMAGE/fons/OG9KMR0.jpg");
      }
    }

    &#Contacts {
      .Image {
        background-image: url("/IMAGE/fons/OH71GW0.jpg");
      }
    }

    .Image {
      margin: 15px;
      width: calc(~"100% - 30px");
      height: calc(~"50vh - 30px");
      line-height: calc(~"50vh - 30px");
      background: right no-repeat fixed #0c5460;
      background-size: cover;
      overflow: hidden;

      .Name {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        padding-left: 10%;
        color: white;
        text-shadow: 0 0 10px black;
        font-family: 'Lobster', cursive;
        font-size: 40px;
      }
    }
  }

  #Banquet {
    padding: 30px 0;
      .BlockImages {
        .Image {
          height: 200px;

          .Img {
            height: 180px;
            background-size: cover;
          }
          .img1, .img3 {
            background-image: url("/IMAGE/Home/Banquet.jpg");
          }
          .img2, .img4 {
            background-image: url("/IMAGE/Home/Hall.jpg");
          }
        }

      }
    .BlockText {
      text-align: center;

      .Title {
        width: 100%;
        font-size: 30px;
      }
      .IconLine {
        width: 100%;
        height: 30px;

        .Icon {
          display: inline-block;
          width: 30px;
          height: 30px;
          background: center no-repeat;
          background-size: contain;
          background-image: url("/IMAGE/Home/Soup.png");
        }
        margin-bottom: 15px;
      }
      .Text {
        text-align: justify;
        font-size: 16px;
      }
    }
  }

  #Contacts {
    .Contact {
      text-align: center;
      padding: 25px 0;

      a {
        color: black;
        text-transform: none;
        text-decoration: none;

        p:hover {
          -webkit-transform: scale(1.5);
          -moz-transform: scale(1.5);
          -ms-transform: scale(1.5);
          -o-transform: scale(1.5);
          transform: scale(1.5);
        }
      }

      .Title {
        display: inline-block;
        width: 100%;
        height: auto;
        font-size: 30px;
      }
      .IconLine {
        width: 100%;
        height: 30px;

        .Icon {
          display: inline-block;
          width: 30px;
          height: 30px;
          background: center no-repeat;
          background-size: contain;
          background-image: url("/IMAGE/Home/Soup.png");
        }
        margin-bottom: 15px;
      }
      .Text {
        p {
          font-size: 20px;
          padding: 5px 0;
        }

        .TextSocial {
          font-size: 25px;
        }

        .IconLine {
          margin-top: -10px;
          font-size: 30px;
        }
      }
    }
  }

  #Menu {
    position: relative;

    &:not(.Title) {
      height: 100vh;
    }
    .flipbook {
      &-viewport {
        overflow: hidden;
        width: 100%;
        height: 100%;

        .container {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: auto;
        }

        .flipbook {
          width: 922px;
          height: 600px;
          left: -461px;
          top: -300px;
        }

        .page {
          width: 461px;
          height: 600px;
          background-color: white;
          background-repeat: no-repeat;
          background-size: 100% 100%;

          img{
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin:0;
          }
        }

        .shadow{
          -webkit-transition: -webkit-box-shadow 0.5s;
          -moz-transition: -moz-box-shadow 0.5s;
          -o-transition: -webkit-box-shadow 0.5s;
          -ms-transition: -ms-box-shadow 0.5s;

          -webkit-box-shadow:0 0 20px #ccc;
          -moz-box-shadow:0 0 20px #ccc;
          -o-box-shadow:0 0 20px #ccc;
          -ms-box-shadow:0 0 20px #ccc;
          box-shadow:0 0 20px #ccc;
        }
      }

      .page{
        -webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
        -moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
        -ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
        -o-box-shadow:0 0 20px rgba(0,0,0,0.2);
        box-shadow:0 0 20px rgba(0,0,0,0.2);
      }
    }
  }
}