@font-face {
  font-family: 'Kelly Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Kelly Slab'), local('KellySlab-Regular'), url(https://fonts.gstatic.com/s/kellyslab/v7/-W_7XJX0Rz3cxUnJC5t6fkALew.ttf) format('truetype');
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v20/neILzCirqoswsqX9zoamNg.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752HT8D.ttf) format('truetype');
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6D6Mw.ttf) format('truetype');
}
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher Regular'), local('Philosopher-Regular'), url(https://fonts.gstatic.com/s/philosopher/v9/vEFV2_5QCwIS4_Dhez5jcWBqT0g.ttf) format('truetype');
}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v5/UqyVK80NJXN4zfRgbdfbo5pcUg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufJ5qA.ttf) format('truetype');
}
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: local('Russo One'), local('RussoOne-Regular'), url(https://fonts.gstatic.com/s/russoone/v6/Z9XUDmZRWg6M1LvRYsHOy8mM.ttf) format('truetype');
}
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Zilla Slab'), local('ZillaSlab-Regular'), url(https://fonts.gstatic.com/s/zillaslab/v3/dFa6ZfeM_74wlPZtksIFajo6-A.ttf) format('truetype');
}
body header {
  padding: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 120px;
  line-height: 60px;
  color: white;
  font-family: 'Russo One', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10000;
  transition: .5s;
}
body header .Logo {
  margin-top: -7px;
  height: 70px;
}
body header .Menu {
  display: none;
}
body header .Menu .element {
  position: relative;
  margin: 0 15px;
}
body header .Menu .element:last-child {
  margin-right: 0;
}
body header .Menu .element:hover {
  color: yellow;
}
body header .Menu .element.active:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background-color: white;
}
body header .Menu .element.active:hover:after {
  background-color: yellow;
}
body header.White {
  padding: 10px;
  height: 60px;
  line-height: 40px;
  color: black;
  background: white;
  box-shadow: 0 0 0 2px black;
}
body header.White .Logo {
  margin-top: -5px;
  height: 50px;
}
body header.White .Menu .element:after {
  background-color: black;
}
body header.White .Menu .element:hover {
  color: #005cbf;
}
body header.White .Menu .element:hover:after {
  background-color: #005cbf;
}
@media (min-width: 768px) {
  body header .Menu {
    display: inline-block;
  }
}
/*# sourceMappingURL=Home.css.map */