@import "../default";

body {
  header {
    padding: 30px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
    line-height: 60px;
    color: white;
    font-family: @font-RussoOne;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 10000;
    transition: .5s;

    .Logo {
      margin-top: -7px;
      height: 70px;
    }

    .Menu {
      display: none;

      .element {
        position: relative;
        margin: 0 15px;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          color: yellow;
        }

        &.active
        {
          &:after {
            position: absolute;
            bottom: -5px;
            left: 0;
            content: '';
            width: 100%;
            height: 3px;
            background-color: white;
          }

          &:hover:after {
            background-color: yellow;
          }
        }
      }
    }

    &.White {
      padding: 10px;
      height: 60px;
      line-height: 40px;
      color: black;
      background: white;
      box-shadow: 0 0 0 2px black;

      .Logo {
        margin-top: -5px;
        height: 50px;
      }

      .Menu {
        .element {

          &:after {
            background-color: black;
          }

          &:hover {
            color: #005cbf;

            &:after {
              background-color: #005cbf;
            }
          }
        }
      }
    }

    @media (min-width: 768px) {
      .Menu {
        display: inline-block;
      }
    }
  }
}